
body {
    font-family: Arial, sans-serif;
    background-color: #f6f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

title{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.quiz-container {
    text-align: center;
    background-color: #f57b20;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(9, 9, 9, 0.9);
    width: 95%; 
    max-width: 500px; 
}

.result-container {
    
    text-align: center;
    background-color: #f57b20;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; 

.option {
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 150px; 
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option:hover {
    transform: scale(1.05); 
}

.option img {
    max-width: 100%; 
    border-radius: 5px;
    height: auto; 
}



h2 {
    color: #fff; 
}

p {
    color: #0c0c0c; 
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff; 
    color: rgb(104, 137, 220); 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: rgba(5, 5, 5, 0.8); 
}

.result-container {
    text-align: center;
    background-color: rgb(0, 168, 50);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 90%;
    max-width: 600px;

    margin: auto;
}


.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

.option {
    color: #0c0c0c;
    background-color: #faf9f9;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option:hover {
    transform: scale(1.05);
}

.option img {
    max-width: 100%;
    border-radius: 5px;
}



}

#restartButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#restartButton:hover {
    background-color: #0b0b0b;
    color: white;
} 
