
body {
    font-family: 'Times New Roman', Times, serif;
    /* background-color: #f6f4f4; */
    background-image: url(../images/background2.0.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 70;
}

h1{
    color: #fff;
    /* margin-left: -10%; */
    /* margin-top: -36%; */
    margin-right: -27%;
    padding-bottom: 38%;
}

.quiz-container {
    text-align: center;
    background-color: #fbfafa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(9, 9, 9, 1);
    width: 95%; 
    max-width: 500px; 
}

.result-container {
    text-align: center;
    background-color: #dedfde;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; 

.option {
    background-color: #7161cd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 150px; 
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    h2 {
        color: #fff; 
    }

    p {
        color: #fbf4f4; 
    }


    .options-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 80px;
    }

    /* this is for the cards */
    .option {
        background-color: #5a5095;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        width: 150px;
        cursor: pointer;
        transition: transform 0.2s;
        display: flex;
        flex-direction: column;
        align-items: center;
        size: 10cap;
    }

    .option:hover {
        transform: scale(1.05);
    }

    .option img {
        max-width: 100%;
        border-radius: 5px;
    }



    }

    #restartButton {
        display: inline-block;
        padding: 10px 20px;
        background-color: white;
        color: #333;
        border: 2px solid #333;
        border-radius: 5px;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    #restartButton:hover {
        background-color: #6151bf;
        color: white;
    } 

    .question{
        color: aqua;
    }